@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark: #000;
  --dim: #15202b;
  --light: whitesmoke;
  --primary: #00aaff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--dark);
}

body.dark {
  background: var(--dark);
}

body.dim {
  background: var(--dim);
}

body.light {
  background: var(--light);
}

body > .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
}

body > .buttons > .dark,
body > .buttons > .dim,
body > .buttons > .light {
  margin-right: 100px;
  padding: 20px 30px;
  background: var(--primary);
  border: 2px solid var(--dark);
  outline: none;
  border-radius: 1rem;
  color: var(--dark);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s;
}

body > .buttons > .dark:hover,
body > .buttons > .dim:hover,
body > .buttons > .light:hover {
  box-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary),
    0 0 30px var(--primary);
}
